CONFIG_IDF_TARGET="esp32c5"
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_I2C_MASTER_PORT_NUM=0
CONFIG_I2C_MASTER_FREQUENCY=400000
CONFIG_PMU_I2C_SCL=26
CONFIG_PMU_I2C_SDA=27
CONFIG_PMU_INTERRUPT_PIN=-1
