# ESP32-C5-Touch-LCD-3.5: Flash settings and LVGL benchmark defaults.
CONFIG_IDF_TARGET="esp32c5"
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_TASK_CREATE_ALLOW_EXT_MEM=y

CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_USE_CLIB_MALLOC=y
CONFIG_LV_USE_CLIB_STRING=y
CONFIG_LV_USE_CLIB_SPRINTF=y
CONFIG_LV_OS_FREERTOS=y
CONFIG_LV_USE_FREERTOS_TASK_NOTIFY=y
CONFIG_LV_DRAW_THREAD_STACK_SIZE=8192
CONFIG_LV_DRAW_THREAD_PRIO=3
CONFIG_LV_DEF_REFR_PERIOD=30
CONFIG_LV_OBJ_STYLE_CACHE=y
CONFIG_LV_BUILD_EXAMPLES=y
CONFIG_LV_BUILD_DEMOS=y
CONFIG_LV_USE_DEMO_WIDGETS=y
CONFIG_LV_USE_DEMO_BENCHMARK=y

CONFIG_BSP_I2C_NUM=0
CONFIG_BSP_I2C_FAST_MODE=y
CONFIG_BSP_LCD_TRANS_QUEUE_DEPTH=2
CONFIG_BSP_I2S_NUM=0
